@model List<UploadFotosFiap11NetService.Models.ImageFile>

@using UploadFotosFiap11NetService.Models
@{
    ViewBag.Title = "Home Page";
}

<h2>Upload File</h2>
<div class="upload-container">
    @Html.Partial("_uploadImage", new ImageFile())
</div>


<h2>List of All files</h2>
<div class="list-container">
    @foreach (var item in Model)
    {
        <div class="list-container-item-group">
            <div class="list-container-item-info-group">
                @Html.Label("File Name")
                @Html.Label(item.Name)
            </div>
            <div class="list-container-item-info-group">
                <a href="@item.Url">@item.Url</a>
            </div>
        </div>
    }
</div>